@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

body{
    box-sizing: border-box;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

p{
    font-family: 'Delius', cursive;
    font-weight: 900;
    font-size: 40px;
}

h3{
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    font-weight: 600;

}

.content-box{
    text-align: center;
    width: 70%;
    margin: 32vh auto 0;
}

@media (max-width:545px) {
    .content-box{
        margin-top: 27vh;
        padding-left: 35px;
    }
    body{
        background-size: auto;
    }
}
